* {
    box-sizing: border-box;
   
  }
  html,
body {

  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("../../shoppingcart/css/img/d.jpg");
  background-repeat: no-repeat;
  background-size: cover;

background-position: center;
  
}

  .shopping-cart {
    width: 720px;
    height: 523px;
    margin: 60px 30px;
    background: #055596;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  margin-top: 2%;
    
   
  }
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #fdfeff;
    font-size: 18px;
    font-weight: 400;
  }
  .lin1 {
    background-color: rgb(248, 250, 246);
    height: 160px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #050505;
    font-size: 18px;
    font-weight: 400;
      }
  .lin2 {
    background-color: rgb(248, 250, 246);
    height: 160px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #050505;
    font-size: 18px;
    font-weight: 400;
  }
  .lin3{
    background-color: rgb(246, 248, 250);
    height: 160px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #050505;
    font-size: 18px;
    font-weight: 400;
    
  }
  
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
flex-wrap: nowrap;  }
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 100px;
    
  }
  .delete-btn,
  .like-btn {
    display: inline-block;
    Cursor: pointer;
    margin-right: initial;
  }
  .delete-btn {
    width: 18px;
    height: 17px;


  }
   
  .like-btn {

    position: absolute;
    top: 28px;
    left: 35px;

    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }
  
 
  .description {
    padding-top: 10px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: rgb(33, 68, 163);
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: black;
  }
  .quantity {
  
    display: flex;
  justify-content: space-between;
  width: 90px;
  }
  .plus,
  .minus {
    color: #00060a;
    font-size: 28px;
    background: #b9cfe2;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
 .quantity{
   margin-right: 50px;
 }


 .topnav {
   position: fixed;
  overflow: hidden;
  background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: box-shadow .25s ease 0s;
}

.topnav a {
  float: right;
  color: rgb(99, 99, 202);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: rgb(0, 0, 15);
}
.bar{
  display: flex;
}

.logo{
  height: 150px;
  width: 350px;
  margin-top: -40%;
  margin-left: 0px;
  margin-bottom: -120px;
}




/* The alert message box */
.alerttotalprix {
  padding: 2px;
  background-color: green; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}



.search-container{
  float: right;
  margin-top: 10px;
}
#panier {
  box-sizing: border-box;
  border-color: black;
  margin-left: 10px;
  color: red;
}